<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>contactEmailRot13</key>
	<string>qnivq@ryrzragny-vzntvat.pbz</string>
	<key>contactName</key>
	<string>David Aaron Fendley</string>
	<key>description</key>
	<string>New shiny bundle for X.</string>
	<key>name</key>
	<string>David’s Bundle</string>
	<key>uuid</key>
	<string>A0E60573-A218-4BCD-8FC6-8573CEAC954D</string>
</dict>
</plist>
