<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>contactEmailRot13</key>
	<string>qnivq.sraqyrl@ryrzragny-vzntvat.pbz</string>
	<key>contactName</key>
	<string>David Aaron Fendley</string>
	<key>description</key>
	<string>New shiny bundle for X.</string>
	<key>name</key>
	<string>Monokai for TextMaters CUSTOM</string>
	<key>uuid</key>
	<string>3EC06E7A-20A8-46B4-A913-191B478A61DF</string>
</dict>
</plist>
